html{
  background-color: whitesmoke;
}

header{
  font-family: Chalkboard, serif;
  background-color: gray;
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container{
  background-color: white;
  height: auto;
  padding: 10px;
  width: 1000px;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 10px 5px 5px dimgray;
}

#display{

}

.left-side{
  margin-right: 30px;
  margin-left: 75px;
}

.right-side{
}

#drop{
  margin-bottom: 48px;
}

#buttons{
  margin-top: 3px;
  height: 28px;
  width: 404px;
}

#position{
  background-color: white;
  border: 1px solid black;
  width: 404px;
  height: 304px;
  padding: 5px;
  color: black;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.coords{
  border: 1px solid black;
  width: 300px;
  height: 60px;
  font-weight: bold;
  font-size: 50px;
}

.containerText{
  font-weight: bold;
  font-size: 20px;
  color: black;
}

#map{
  background-color: black;
  width: 404px;
  height: 304px;
}

#getCurrLocation{
  width: 190px;
  height: 25px;
  padding: 4px;
}

#getCurrLocation:hover{
  background-color: gray;
  color: white;
}

#saveCurrentMap{
  width: 190px;
  height: 25px;
  padding: 4px;
}

#saveCurrentMap:hover{
background-color: gray;
color: white;
}

#puzzleDragDrop{
  background-color: black;
  width: 404px;
  height: 304px;
}

#mapSaved{
  background-color: white;
  border: 1px solid black;
  min-height: 304px;
  min-width: 404px;
  padding: 5px;
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
}

.puzzle{
  border: 1px solid black;
  width: 100px;
  height: 75px;
}

.puzzle:hover{
  opacity: 75%;
  cursor: grab;
}

.dropContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 300px;
  height: 150px;
  border: 1px solid white;
}

.fraction{
  width: 75px;
  height: 37.5px;
  border: 1px solid white;
}

.dropspots{
  background-color: white;
  border: 1px solid gray;
  width: 101px;
  height: 76px;
}

